*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */



/* elementi comuni a tutta la pagina */
.container{
    border: 1px dotted black;
    padding: 0 30px;
    /* test */

    margin: auto;
}
/* fine elementi comuni a tutta la pagina */




/* sezione navbar */

nav{
    margin-bottom: 50px;

    background-color: #0084FD;
}

nav .container{
    height: 75px;
    /* test */

    display: flex;
    justify-content: space-between;
}

nav .logo{
    width: 100px;
    height: 100%;
    border: 1px solid red;
    /* test */
}

nav .menu{
    width: 100px;
    height: 100%;
    border: 1px solid red;
    /* test */
}

/* fine sezione navbar */



/* sezione header */

header .container{
    display: flex;
    flex-direction: column;
    gap: 25px;

    margin-bottom: 80px;
}

.card{
    height: 200px;
    border: 1px dotted red;
    /* test */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: #B5DDFF;
}

.card #text{
    height: 100px;
    border: 1px dotted purple;
    /* test */
}

.card #img{
    height: 100px;
    border: 1px dotted purple;
    /* test */
}
/* fine sezione header */



/* sezione "strategic planning" */

#strategic-planning{
    margin-bottom: 65px;

    background-color: #9792E4;
}

#strategic-planning .container{
    display: flex;
    flex-direction: column;
}

#planning{
    border: 1px dotted purple;
    /* test */

    margin-top: 70px;
    margin-bottom: 35px;
}

#app-development{
    border: 1px dotted purple;
    /* test */

    margin-bottom: 65px;

    background-color: #FFFFFF;
}

/* fine sezione "strategic planning" */



/* sezione "testimonials" */
#testimonials{
    margin-bottom: 115px;
}


section .container > div {
    border: 1px solid violet;
    /* test */
}

#intro{
    height: 200px;
    /* test */

    margin-bottom: 55px;
}

#profiles{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#profiles .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    background-color: #9792E4;
}

.profile .profile-image{
    width: 75%;
    background-color: grey;
    /* test */
}

.profile .profile-description{
    width: 75%;
    background-color: grey;
    /* test */
}

/* fine sezione "testimonials" */








/* SEZIONE RESPONSIVE */

/* soluzione tablet */
@media screen and (min-width: 768px) {

    header .container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
    }

    .card{
        width: calc(100% / 3 - 25px / 3 * 2);
    }

    header .container .card:nth-of-type(1){
        width: calc(100% / 2 - 25px / 3 * 2);
        flex-grow: 2; 
    }

    #planning{
        margin-top: 140px;
    }

    #profiles .profile{
        flex-direction: row;
    }

}
/* fine soluzione tablet */


/* soluzione laptop */

@media screen and (min-width: 992px) {


    header .container .card:nth-of-type(1){
        flex-direction: row;
        justify-content: space-around;
    }

    #strategic-planning .container{
        flex-direction: row;
        justify-content: center;
        gap: 90px;
    }

    #planning{
        margin-bottom: 0;
    }

    #app-development{
        margin-top: 305px;
    }

}
/* soluzione laptop */



/* soluzione desktop */
@media screen and (min-width: 1200px) {

    .container{
        max-width: 1140px;
    }

}
/* soluzione desktop */





