*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */



/* elementi comuni a tutta la pagina */
.container{
    display: flex;

    padding: 0 30px;

    /* width: 100%; */
}

a{
    text-decoration: none;
}

.btn{
    padding: 10px 50px;

    border-radius: 20px;

    color: white;
    background-color: #0084FD;
}

/* immagini profilo */
.testimonial{
    width: 200px;
    height: 200px;

    border-radius: 50%;
    
    object-fit: cover;
}

p{
    line-height: 30px;
}
/* fine elementi comuni a tutta la pagina */




/* sezione navbar */
nav{
    padding: 0 30px;
    margin-bottom: 50px;

    background-color: #0084FD;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

nav .container i{
    /* display: none; */

    font-size: 20px;

    color: white;
}

#links{
    display: none;
}

#links ul{
    display: flex;
    gap: 30px;

    list-style-type: none;
}

#links ul li a{
    color: white;
}

#links ul li:last-child a{
    padding: 8px 10px;

    border-radius: 20px; 

    color: black;
    background-color: white;
}
/* fine sezione navbar */



/* sezione header */
header{
    margin-bottom: 80px;
}

header .container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    padding: 35px;

    border-radius: 16px;

    text-align: center;

    background-color: #B5DDFF;
}

.card:nth-of-type(1){
    align-items: center;

    padding: 35px 35px 0;
}

.card #text{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 35px;

    text-align: start;
}

.card #text i{
    margin-right: 10px;

    font-size: 16px;

    color: white;
}

.card #img{
    display: flex;
}


.card #img img{
    width: 100%;
}

.card h3{
    color: #0084FD;
}

.card i{
    font-size: 80px;

    color: #0084FD;
}
/* fine sezione header */



/* sezione "strategic planning" */
#strategic-planning{
    margin-bottom: 65px;

    background-color: #9792E4;
}

#strategic-planning .container{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#planning{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 65px;

    padding-top: 140px;

    color: white;
}


#planning img{
    width: 100%;
}

#app-development{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    
    padding: 30px 50px;
    margin-bottom: 65px;
    
    border-radius: 30px;
    
    text-align: center;
    font-style: italic;
    
    background-color: #FFFFFF;
}

#app-development .planning-image img{
    width: 100%;
}

#app-development i{
    padding: 16px;

    border-radius: 50%;

    font-size: .7em;

    background-color: #9793E0;
}
/* fine sezione "strategic planning" */



/* sezione "testimonials" */
#testimonials{
    margin-bottom: 115px;
}

#testimonials .container{
    flex-direction: column;
    gap: 55px;
}

#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    text-align: center;
}

#intro h3{
    font-size: 35px;

    color: #9792E4;
}

#profiles{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#profiles .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    padding: 35px 25px;

    border-radius: 30px;

    background-color: #9792E4;
}

.profile .profile-image img{
    width: 100%;
}

.profile .profile-description{
    text-align: center;

    color: white;
}

.profile .profile-description  p{
    margin-bottom: 35px;
}
/* fine sezione "testimonials" */



/* sezione "with-us" */
#with-us{
    margin-bottom: 90px;

    background-color: #9792E4;
}

#with-us .container{
    flex-direction: column;
    gap: 70px;
}

#with-us .container h3{
    margin-top: 70px;

    font-size: 30px;

    text-align: center;

    color: white;
}

.row{
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding-bottom: 65px;
}

.row .col{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;

    padding: 45px 30px;

    border-radius: 30px;

    background-color: white;
}

.row .col .number{
    font-size: 35px;

    font-weight: bold;

    color: #9792E4;
}

.row .col h4{
    font-size: 20px;

    color: #9792E4;
}

.row .col p{
    color: #818181;
}

.row .col .btn{
    background-color: #9792E4;
}
/* fine sezione "with-us" */



/* sezione about-us */
#about-us{
    margin-bottom: 65px;
}

#about-us .container{
    flex-direction: column;
    gap: 60px;
}

#top{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#top h3{
    font-size: 35px;

    color: #9792E4;
}

#bot{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
}

#bot .testimonial {
    position: relative;
}

#bot .testimonial i{
    position: absolute;
    right: 0;

    font-size: 50px;

    color: #9792E4;
}

#bot .testimonial img{
    width: 100%;

    border-radius: 50%;
}

#bot p{
    font-size: 20px;

    color: #9792E4;
}

#bot a{
    padding: 12px;

    white-space: nowrap;

    background-color: #9792E4;
}

#bot a span{
    margin-right: 5px;
}
/* fine sezione about-us */



/* sezione "get-started" */
#get-started{
    padding: 65px 0;
    
    background-color: #9792E4;
}

#get-started .container{
    flex-direction: column;
    align-items: center;
}

#get-started .container h4{
    color: #C9C8FF;

    margin-bottom: 35px;
}

#get-started .container h3{
    color: white;

    font-size: 30px;

    margin-bottom: 45px;

    /* white-space: nowrap; */
}

#get-started .container h2{
    color: #FCC261;

    font-size: 70px;

    margin-bottom: 45px;

    /* white-space: nowrap; */
}

#get-started .container p{
    margin-bottom: 35px;

    text-align: center;

    color: white;
}

#get-started .container .btn{
    padding: 20px 75px;
    margin-bottom: 30px;

    border-radius: 40px;

    color: #9792E4;

    background-color: white;
}

#get-started .container #copyright{
    display: flex;
    align-items: center;
    gap: 5px;

    white-space: nowrap;

    color: white;
}

#get-started .container #copyright i{
    font-size: 6px;
}

#get-started .container #copyright a{
    text-decoration: underline;

    color: white;
}
/* fine sezione "get-started" */



/* footer */
footer{
    height: 200px;
    /* test */

    background-color: #333333;
}
/* fine footer */













/* SEZIONE RESPONSIVE */
@media screen and (max-width: 991px) {
    .card #img{
        width: 200px;
    }
}



/* soluzione tablet */
@media screen and (min-width: 768px) {

    /* header */
    header .container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
    }

    .card{
        width: calc(100% / 3 - 25px / 3 * 2);
    }

    header .card:nth-of-type(1){
        justify-content: space-between;
        align-items: flex-start;
        flex-grow: 2; 
        
        width: calc(100% / 2 - 25px / 3 * 2);
    }
    /*fine header */


    /* sezione "testimonials" */
    #profiles .profile{
        flex-direction: row;
    }

    .profile .profile-description{
        text-align: start;
    }
    /* fine sezione "testimonials" */


    /* sezione "with-us" */
    .row{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .row .col{
        width: calc(100% / 2 - 30px);
    }
    /* fine sezione "with-us" */

    
    /* sezione about-us */
    #about-us .container{
        flex-direction: row;
    }
    /* fine sezione about-us */


}
/* fine soluzione tablet */


/* soluzione laptop */

@media screen and (min-width: 992px) {

    /* navbar */
    nav .container i{
        display: none;
    }

    #links{
        display: block;
    }
    /* fine navbar */


    /* header */
    header .card:nth-of-type(1){
        flex-direction: row;
    }

    .card #img{
        align-self: flex-end;
    }
    /* fine header */


    /* sezione "strategic-planning */
    #strategic-planning .container{
        flex-direction: row;
        justify-content: center;
        gap: 55px;
    }

    #planning{
        padding-bottom: 65px;
    }
    /* fine sezione "strategic-planning */


    /* sezione "with-us" */
    .row .col{
        width: calc(100% / 3 - 30px);
    }
    /* fine sezione "with-us" */


}
/* soluzione laptop */



/* soluzione desktop */
@media screen and (min-width: 1200px) {

    header .container{
        padding: 0;
    }

    .container{
        max-width: 1140px;

        margin: auto;
    }

}
/* soluzione desktop */





